#wrapper {
    width: 600px;
    height: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid black;
}

.unit {
  display: block;
  float: left;
  vertical-align: bottom;
  box-sizing: border-box;
}

#reset {
  display: block;
  text-align: center;
  margin: 0 auto;
}
